@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

*{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

@custom-variant dark (&:where(.dark, .dark *));

html {
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-white;
}


@theme {
    --color-primary: #5044E5;
}